.fication {
  position: relative;
  width: 100%;
  max-width: 7.5rem;
  margin: 0 auto;
}
.fication header {
  width: 100%;
  height: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f26b11;
  padding: 0 0.2rem;
}
.fication header img {
  width: 0.18rem;
  height: 0.29rem;
}
.fication header h3 {
  line-height: 0.62rem;
  font-size: 0.36rem;
  color: #ffffff;
}
.fication header span {
  font-size: 0.36rem;
  color: #ffffff;
}
.fication .main {
  display: flex;
}
.fication .main .main-left {
  width: 1.63rem;
  height: 10.37rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 0.01rem solid #d9d9d9;
}
.fication .main .main-left a {
  font-size: 0.26rem;
  color: #676767;
  padding: 0.14rem 0 0.13rem 0.37rem;
  border-left: 0.08rem solid transparent;
}
/* .fication .main .main-left a:hover {
  color: #f26b11;
  border-left: 0.08rem solid #f26b11;
} */
.fication .main .main-right {
  margin-left: 0.3rem;
}
.fication .main .main-right .haird {
  margin-top: 0.54rem;
}
.fication .main .main-right .haird .title {
  width: 4.87rem;
  display: flex;
  justify-content: space-between;
  margin-left: 0.25rem;
}
.fication .main .main-right .haird .title h4 {
  font-size: 0.26rem;
  color: #464646;
}
.fication .main .main-right .haird .title p a {
  font-size: 0.26rem;
  color: #464646;
}
.fication .main .main-right .haird .desc-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 5.5rem;
}
.fication .main .main-right .haird .desc-top a img {
  width: 1.51rem;
  height: 1.51rem;
  margin-top: 0.4rem;
}
.fication .main .main-right .haird .desc-top a p {
  font-size: 0.24rem;
  color: #888888;
  margin-top: 0.22rem;
}
.fication .main .main-right .haird-color {
  margin-top: 1.14rem;
}
.fication .main .main-right .haird-color .title {
  width: 4.87rem;
  display: flex;
  justify-content: space-between;
  margin-left: 0.25rem;
  margin-bottom: 0.3rem;
}
.fication .main .main-right .haird-color .title h4 {
  font-size: 0.26rem;
  color: #464646;
}
.fication .main .main-right .haird-color .title p a {
  font-size: 0.26rem;
  color: #464646;
  margin-top: 0.22rem;
}
.fication .main .main-right .haird-color .desc-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 5.3rem;
}
.fication .main .main-right .haird-color .desc-bottom a img {
  width: 1.51rem;
  height: 1.51rem;
}
.fication .main .main-right .haird-color .desc-bottom a p {
  font-size: 0.24rem;
  color: #888888;
  margin-top: 0.22rem;
}
