@font-face {
  font-family: 'iconfont';  /* project id 2181094 */
  src: url('//at.alicdn.com/t/font_2181094_idbu44w45v.eot');
  src: url('//at.alicdn.com/t/font_2181094_idbu44w45v.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2181094_idbu44w45v.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2181094_idbu44w45v.woff') format('woff'),
  url('//at.alicdn.com/t/font_2181094_idbu44w45v.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2181094_idbu44w45v.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 100%;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
